.page-loader {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    display: none;

    div {
        background-color: #fff;
        padding: 16px 32px;
        position: absolute;
        top: 50%;
        color: #000000;
        left: 43%;
      }
  }

  .anchor-tag {
    text-decoration: underline;
  }