.signin-popup-content {
    .icon-signin-account {
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2264%22%20height%3D%2264%22%20viewBox%3D%220%200%2064%2064%22%3E%3Cpath%20fill%3D%22%23919191%22%20d%3D%22M53.2%2052c-1-7-6.2-11.9-14.3-13.7%204-2.5%206.7-6.9%206.7-11.9%200-7.7-6.3-14.1-14.1-14.1-7.2%200-13.2%205.6-14%2012.6%200%20.2-.1%201.5-.1%201.5%200%205.1%202.7%209.6%206.8%2012C16.6%2040.2%2011.7%2045%2010.7%2052c.9.9%201.8%201.8%202.9%202.7l-.2-1.6c.4-5.2%203.4-9%208.5-11%200%200%203.5-1.7%209.5-1.7%206.6%200%2010.2%201.6%2010.2%201.6%204.8%201.8%208.6%205.3%209.1%2011l-.3%201.5c1.1-.7%202-1.6%202.8-2.5zM30%2015.2c1-.1%201.1.2%201.6.2%205.4.1%2010.1%204.6%2011.1%209.6h-1.3c-4.2%200-7.4-1.4-9.2-3.5-1.7-1.9-2.2-4.7-2.2-6v-.3zm-2.7.9c-.6%205.8-4.3%207.5-6.6%208%20.7-3.7%203.2-6.6%206.6-8zM20.4%2027c2.9-.4%206.5-2%208.4-5.9.4.6.8%201.2%201.3%201.9%202.5%202.7%206.3%204.1%2011.2%204.1h1.5c-.3%206-5.3%2010.6-11.2%2010.6-5.9-.1-10.8-4.8-11.2-10.7zM32%203c16%200%2029%2013%2029%2029S48%2061%2032%2061%203%2048%203%2032%2016%203%2032%203m0-3C14.3%200%200%2014.3%200%2032s14.3%2032%2032%2032%2032-14.3%2032-32S49.7%200%2032%200%22%2F%3E%3C%2Fsvg%3E);
        width: 48px;
        height: 48px;
        background-size: 48px 48px;
        display: inline-block;
        vertical-align: middle;
    }
    h2 {
        font-size: 1.5rem;
    }
}