$text-white: #fff;
$dark-black: #000;
$dark-black-1: #040501;
$yankees-blue: #1C3B41;
$white-smoke: #f6f6f6;
$hash-grey: #808080;
$grey: #ccc;
$grey-1: #eee;
$grey-2: #e1e1e1; 
$grey-3: #efefef;
$medium-dark-gray: #b0b0b0;
$very-dark-gray: #3f3f3f;
$rose : #ff1f80;
$rose-1: #fc5356;
$red: #e74f4f;
$dark-blue: #20247b;
$light-blue: #ADD8E6;
$green: #28C8A4;
$green-2: #00a580;
$Violet: #6c2087;