@import "./colors";

$primary-bg: $white-smoke;

//common
$hr-line: $rose;
$primary-details-btn-bg: $rose;
$primary-details-btn-color: $text-white;
$price-bg: $light-blue;
$price-color: $rose;

//trending
$arrow-bg: $grey-1;
$arrow-border: $grey-2;
$card-body-bg: $text-white;
$card-text: $very-dark-gray;
$price-text: $green;

// titles
$deal-page-main-title: $dark-blue;
$small-card-title: $rose-1;
$primary-btn: $rose-1;

// header 
$header-background-color: $yankees-blue;
$header-background-shadow: $hash-grey;

// footer
$footer-text: $medium-dark-gray;

// deal box
$deal-container-shadow: $hash-grey;
$discount-bg-color: $rose;
$discount-text-color: $text-white;
$no-image-bg: $grey-2;
$deal-title-border: $rose;
$deal-date: $green-2;
$deal-price-border: $rose;

// trending
$discount-bg: $rose;
$discount-link-color: $Violet;

//banner
$banner-bg: $dark-black-1;